.box{
    border: 1px solid blue;
    padding: 20px;
}
.addOption{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
